.stage canvas {
  background: lightgray !important;
  border: 2px solid black !important;
}

.button {
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button-reset {
  background-color: lightsteelblue;
  display: flex;
  margin-bottom: 20px;
}

.button-reset:hover {
  background-color: lightskyblue;
}

.button-reset:active {
  background-color: powderblue;
}